.App {
  text-align: center;
 
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.Answer-letter {
  background-color: rgba(180, 180, 180, 0.685);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Answer-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: start;
  padding: 15px;
  min-width: 250px;
  margin: 0 0 15px 0;
  color: black;
  background-size: 200% auto;
  background-color: rgb(219, 219, 219);
  transition: 0.5s;
  border-radius: 10px;  
  border: none;
}

.Answer-btn:hover {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  background-position: right center; 
  text-decoration: none;
  color: white;    
}

.Answer-btn-active {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  background-position: right center; 
  text-decoration: none;
  color: white;
}